                          // VARIABLES
$gridColor:#46a27c;
$shadow:1px 1px 7px black;
$primaryGrey:#e5e5e5;
$transition:all ease-in 0.25s;
$slowTransition:all ease-in 0.75s;

                            // MIXINS
@mixin lightText{
  font-family: 'Raleway', sans-serif;
  color:$primaryGrey;
}
@mixin backgroundImage{
  background-position:center;
  background-repeat:no-repeat;
  background-size:contain;
}
@mixin textOverlay{
    &::-webkit-scrollbar{
      width:10px;
    }
    &::-webkit-scrollbar-thumb{
      width:10px;
      background-color:#377c5f;
      border-radius:40px;
    }
    overflow-y:scroll;
    background-color:rgba(70,162,124,0.9);
    width:100%;
    height:100%;
    text-align:center;
    p{
      @include lightText;
      width:90%;
      margin:auto;
      padding-top:10px;
      font-size:20px;
    }
  }

                          // GLOBAL STYLES
body{
  background-color:$primaryGrey;
}
a{
  &:hover{
    text-decoration:none;
    color:$primaryGrey;
  }
  text-decoration:none;
  color:$primaryGrey;
}
// Section 1 Styles
.section1{
  overflow-x:hidden;
  min-width:100%;
  height:600px;
  background-image:url(../Images/Pictures/LiveMusicConcert.jpg);
  @include backgroundImage;
  background-size:cover;
  h1{
    font-family: 'Raleway', sans-serif;
    color:#e5e5e5;
    font-weight:bold;
    font-size:90px;
    padding-top:120px;
    padding-left:150px;
    text-shadow:$shadow;
  }
  h6{
    @include lightText;
    font-weight:lighter;
    font-size:25px;
    padding-top:60px;
    padding-left:270px;
  }
}
.section2{
  overflow:hidden;
  h1{
    @include lightText;
    font-weight:bold;
    font-size:4.2em;
    color:#212121;
    padding-top:65px;
    padding-left:275px;
    text-shadow:2px 2px 2px black;
  }
  .ArtistInfo{
    cursor:pointer;
    overflow:hidden;
    width:300px;
    height:400px;
    margin-left:60px;
    margin-top:30px;
    margin-bottom:3px;
    float:left;
    @include backgroundImage;
    box-shadow:$shadow;
    background-color:$gridColor;
    background-image:url(../Images/Icons/LiveMusicIcon.svg);
  }
  .VenueInfo{
    overflow:hidden;
    cursor:pointer;
    width:200px;
    height:190px;
    margin-top:30px;
    margin-right:60px;
    float:right;
    @include backgroundImage;
    box-shadow:$shadow;
    background-color:$gridColor;
    background-image:url(../Images/Icons/SpeakerSymbolIcon.svg);
  }
  .MoreInfo{
    overflow:hidden;
    cursor:pointer;
    width:200px;
    height:190px;
    float:right;
    margin-top:20px;
    margin-right:60px;
    @include backgroundImage;
    box-shadow:$shadow;
    background-color:$gridColor;
    background-image:url(../Images/Icons/HumanIcon.svg);
    margin-bottom:3px;
  }
  .artistOverlay{
    @include textOverlay;
    margin-left:-400px;
    transition:$slowTransition;
  }
  .venueOverlay{
    @include textOverlay;
    margin-left:300px;
    transition:$slowTransition;

  }
  .moreOverlay{
    @include textOverlay;
    transition:$slowTransition;
    margin-top:300px;
  }
}
.buffer{
  width:100%;
  overflow:auto;
  border-bottom:1px solid transparent;
}
.section3{
overflow:auto;
margin-top:65px;
background-color:#212121;
min-width:100%;
min-height:343px;
clear:both;
color:#e5e5e5;
h1{
text-align:center;
font-size:3em;
font-weight:bold;
padding-top:50px;
text-shadow:$shadow;
  }
  .socialbar{
    display:flex;
    width:90%;
    margin:auto;
    text-align:center;
    justify-content:space-between
  }
  .social{
    margin:15px;
    height:150px;
    border-radius:15px;
    text-align:center;
    cursor:pointer;
    background-color:$gridColor;
    font-variant:small-caps;
    transition:$transition;
    h3{
      font-size:3rem;
      padding-top:50px;
    }
  }
#Facebook{
  @include backgroundImage;
  width:90%;
  background-image:url(../Images/Icons/SocialMedia/FacebookIcon.svg);
  opacity:0.3;
  }
#Instagram{
  @include backgroundImage;
  width:90%;
  background-image:url(../Images/Icons/SocialMedia/InstagramIcon.svg);
  opacity:0.3;
  }
#Twitter{
  @include backgroundImage;
  width:90%;
  background-image:url(../Images/Icons/SocialMedia/TwitterIcon.svg);
  opacity:0.3;
  }
}

@media (max-width:650px){
  .section1{
  h1{
    margin: 200px auto 100px;
    text-align:center;
    padding:0;
    display:block;
    width:210px;
    font-size:40px;
    }
    h6{
      text-align:center;
      padding:0;
    }
  }
  .section2{
    width:100%;
    h1{
      padding:0;
      margin:20px auto;
      width:90%;
      text-align:center;
      font-size:30px;
      }
      .ArtistInfo{
        float:none;
        margin:20px auto;
        width:250px;
      }
      .VenueInfo{
        float:none;
        margin:20px auto;
        width:250px;
      }
      .MoreInfo{
        float:none;
        margin:20px auto;
        width:250px;
      }
    }
    .section3{
      .social{
      h3{
        font-size:2em;
      }
    }
  }
}
@media (max-width:800px){
  .section3{
    .socialbar{
      width:60%;
        display:block;
    }
  }
}
@media (min-width:900px){
.section2{
  .ArtistInfo{
    width:400px;
    height:600px;
  }
  .VenueInfo{
    width:290px;
    height:290px;
    }
  .MoreInfo{
    width:290px;
    height:290px;
    }
  }
.section3{
  h1{
    font-size:4em;
    }
    h3{
      margin-top:40px;
      font-size:2rem;
    }
  }
}
@media (min-width:1200px){
  .section1{
    h1{
      font-size:120px;
    }
    h6{
      font-size:40px;
      padding-left:215px;
    }
  }
  .section2{
    h1{
      font-size:5em;
      padding-left:380px;
    }
    .ArtistInfo{
      margin-left:220px;
      height:640px;
    }
    .VenueInfo{
      margin-right:220px;
    }
    .MoreInfo{
      margin-top:60px;
      margin-right:220px;
    }
  }
}
